{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "API specification for Glomo",
    "termsOfService": "https://www.glomopay.com/legal#terms-and-conditions",
    "contact": {
      "name": "",
      "email": "developer@glomopay.com",
      "url": ""
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://redocly.github.io/openapi-template/logo.png"
    },
    "description": "The Glomo API follows REST architecture, utilizing resource-oriented URLs for clarity. It handles form-encoded request bodies, delivers responses in JSON format, and operates with standard HTTP methods, authentication, and response codes.\n\nYou can download the complete API collection by using the download options on the right.\n"
  },
  "tags": [
    {
      "name": "balance_conversions",
      "x-displayName": "Balance Conversions",
      "description": "Balance Conversion resource represents the details of the balance conversion. The balance conversion is the conversion of the balance from one supported currency to another supported currency.",
      "x-group": "Multi Currency Account"
    },
    {
      "name": "payment_link",
      "x-displayName": "Payment Link",
      "description": "A payment link is a shareable URL that will take your customers to a Glomo-hosted payment page. The payment page can only be accessed by your customer after the completion of 1FA via their email.",
      "x-group": "Payin"
    },
    {
      "name": "Customer",
      "description": "This resource represents a customer of your business. The customer can be an individual or a business from whom you will receive payments.",
      "x-group": "Payin"
    },
    {
      "name": "Document",
      "description": "Document resource represents the documents details uploaded. This document is used in payin, payout, etc.",
      "x-group": "Payin"
    },
    {
      "name": "Payment",
      "description": "This resource represents a payment attempt made by your customer. The payment can either be successfully completed or failed, depending on various factors.",
      "x-group": "Payin"
    },
    {
      "name": "Refund",
      "description": "This resource represents a refund transaction from your Glomo account to your customer. You can retrieve it to see the details of the refund transaction.",
      "x-group": "Payin"
    },
    {
      "name": "Payout",
      "description": "This resource represents the disbursement transactions from your Glomo account to your beneficiaries.",
      "x-group": "Payout"
    },
    {
      "name": "Balance",
      "description": "This resource represents your Glomo balance. You can retrieve it to see the current balance on your Glomo account in all currencies enabled for your account.",
      "x-group": "Multi Currency Account"
    },
    {
      "name": "bank_account_validation",
      "x-displayName": "Bank Account Validation",
      "description": "Bank Account Validation resource represents the validation details of a bank account.",
      "x-group": "Payout"
    },
    {
      "name": "Beneficiary",
      "description": "This resource represents a payee of a payout initiated by your business. The beneficiary can be an individual or a business to whom you will send funds.",
      "x-group": "Payout"
    },
    {
      "name": "Price",
      "description": "This resource represents the pricing details of the payin or payout. The pricing details include the fees and the pricing type",
      "x-group": "Payin"
    },
    {
      "name": "Withdrawal",
      "description": "**[DEPRECATED]** This resource represents the withdrawal transaction from your Glomo account to your withdrawal account.",
      "x-group": "Withdrawal"
    },
    {
      "name": "withdrawal_account",
      "x-displayName": "Withdrawal Account",
      "description": "This resource represents the withdrawal account details. The withdrawal account is the bank account where the withdrawal amount will be credited.",
      "x-group": "Withdrawal"
    },
    {
      "name": "Orders",
      "description": "This resource represents the order details. The order is the request to receive payment from your customer.",
      "x-group": "Payin"
    },
    {
      "name": "Subscription",
      "description": "This resource represents a recurring billing agreement for a customer. Subscriptions allow businesses to automatically charge customers on a regular schedule according to a defined billing plan.",
      "x-group": "Subscription"
    },
    {
      "name": "Webhook",
      "x-displayName": "Webhook",
      "description": "This resource represents the webhook details. The webhook is the endpoint where the webhook events will be sent.",
      "x-group": "Webhook"
    },
    {
      "name": "Settlement",
      "description": "This resource represents the settlement details. The settlement is the process of transferring funds from your Glomo account to your bank account.",
      "x-group": "Settlement"
    },
    {
      "name": "virtual_account",
      "x-displayName": "Virtual Account",
      "description": "This resource represents virtual account details. A virtual account is a unique account number provisioned for a customer, allowing payments to be received and transactions to be tracked against that customer.",
      "x-group": "Virtual Account"
    },
    {
      "name": "platform",
      "x-displayName": "Platform",
      "description": "This resource provides platform functionality that enables platforms to onboard merchants onto Glomo, with each merchant having their own dedicated Virtual Accounts (VA).",
      "x-group": "Platform"
    },
    {
      "name": "internal_transfer",
      "x-displayName": "Internal Transfer",
      "description": "This resource represents internal fund movements between merchant accounts within the platform–partner model. Internal transfers enable seamless fund movement between merchants who operate under the same platform account. Internal transfers are restricted to accounts linked under the same platform hierarchy. The following transfer directions are supported:\n| Transfer Type                  | Description                                                                    |\n| ------------------------------ | ------------------------------------------------------------------------------ |\n| **P → C**                      | From a **Platform** (P) account to one of its **Child** (C) merchant accounts. |\n| **C → P**                      | From a **Child** (C) merchant account back to its **Platform** (P) account.    |\n| **C → C (same P)**             | Between **Child** (C) accounts under the same **Platform** (P). |",
      "x-group": "Internal Transfer"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Multi Currency Account",
      "tags": [
        "Balance",
        "balance_conversions"
      ]
    },
    {
      "name": "Payin",
      "tags": [
        "payment_link",
        "Orders",
        "Customer",
        "Document",
        "Payment",
        "Refund",
        "Price"
      ]
    },
    {
      "name": "Subscription",
      "tags": [
        "Subscription"
      ]
    },
    {
      "name": "Payout",
      "tags": [
        "Payout",
        "Beneficiary",
        "bank_account_validation"
      ]
    },
    {
      "name": "Internal Transfer",
      "tags": [
        "internal_transfer"
      ]
    },
    {
      "name": "Withdrawal",
      "tags": [
        "Withdrawal",
        "withdrawal_account"
      ]
    },
    {
      "name": "Settlement",
      "tags": [
        "Settlement"
      ]
    },
    {
      "name": "Virtual Account",
      "tags": [
        "virtual_account"
      ]
    },
    {
      "name": "Platform",
      "tags": [
        "platform"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://api.glomopay.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/balances": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "Retrieve balances",
        "description": "Retrieves available balances for all currencies.\n",
        "operationId": "getBalance",
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllBalances"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/balance_conversions": {
      "post": {
        "tags": [
          "balance_conversions"
        ],
        "summary": "Convert balances",
        "description": "Converts balance from one currency to another. In the API you can either send `target_amount` or `source_amount` and the API will calculate the other amount for you.\n",
        "operationId": "createBalanceConversion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "source_currency": {
                        "type": "string",
                        "format": "iso-4217",
                        "description": "The currency code in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format. Supported currencies: USD,EUR and GBP.\n",
                        "example": "USD"
                      },
                      "target_currency": {
                        "type": "string",
                        "format": "iso-4217",
                        "description": "The currency code in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format. Supported currencies: USD,EUR and GBP.\n",
                        "example": "USD"
                      },
                      "source_amount": {
                        "type": "number",
                        "minimum": 1,
                        "description": "The amount you want to convert. A positive integer representing the smallest currency unit.  For example, if the amount is $299.00, then pass 29900 in this field.  In the case of three decimal currencies, such as KWD, BHD and OMR, to represent an amount of 295.991, pass the value as 295990.  And in the case of zero decimal currencies such as JPY, for amount ￥295, pass the value as 295. ``` Only one of `source_amount` or `target_amount` can be sent. ```\n",
                        "example": 1000
                      }
                    },
                    "required": [
                      "source_currency",
                      "target_currency",
                      "source_amount"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "source_currency": {
                        "type": "string",
                        "format": "iso-4217",
                        "description": "The currency code in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format. Supported currencies: USD,EUR and GBP.\n",
                        "example": "USD"
                      },
                      "target_currency": {
                        "type": "string",
                        "format": "iso-4217",
                        "description": "The currency code in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format. Supported currencies: USD,EUR and GBP.\n",
                        "example": "USD"
                      },
                      "target_amount": {
                        "type": "number",
                        "minimum": 1,
                        "description": "The amount you want to receive. A positive integer representing the smallest currency unit.  For example, if the amount is $299.00, then pass 29900 in this field.  In the case of three decimal currencies, such as KWD, BHD and OMR, to represent an amount of 295.991, pass the value as 295990.  And in the case of zero decimal currencies such as JPY, for amount ￥295, pass the value as 295. ``` Only one of `source_amount` or `target_amount` can be sent. ```\n",
                        "example": 1000
                      }
                    },
                    "required": [
                      "source_currency",
                      "target_currency",
                      "target_amount"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/BalanceConversion"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "You can only send source_amount or target_amount, not both."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "balance_conversions"
        ],
        "summary": "List all Balance Conversions",
        "description": "Returns a list of your balance conversions. The balance conversions are returned sorted by creation date, with the most recent beneficiary appearing first.\n",
        "operationId": "getBalanceConversions",
        "parameters": [
          {
            "in": "query",
            "name": "source_currency",
            "schema": {
              "type": "string",
              "format": "iso-4217"
            },
            "description": "The currency code in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format. Supported currencies: USD,EUR and GBP.\n",
            "example": "USD"
          },
          {
            "in": "query",
            "name": "target_currency",
            "schema": {
              "type": "string",
              "format": "iso-4217"
            },
            "description": "The currency code in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format. Supported currencies: USD,EUR and GBP.\n",
            "example": "USD"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of balance conversions matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BalanceConversion"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message indicating which parameter was invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/bank_account_validation": {
      "post": {
        "tags": [
          "bank_account_validation"
        ],
        "summary": "Validate any bank account",
        "operationId": "validateBankAccount",
        "security": [
          {
            "JWT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BankAccount",
                    "required": [
                      "country",
                      "holder_name",
                      "account_number",
                      "bic_primary",
                      "bic_secondary"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "BankAccountReference",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of an already saved beneficiary bank account",
                        "example": "bene_5JU9yv0lGSUP"
                      }
                    },
                    "required": [
                      "id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account validation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/BankAccountValidation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "get": {
        "tags": [
          "bank_account_validation"
        ],
        "summary": "List all bank account validations",
        "operationId": "getBankAccountValidations",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "beneficiary_account_id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the beneficiary bank account to filter validations",
            "example": "bene_5JU9yv0lGSUP"
          },
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "format": "iso-3166-1-alpha-3, case-insensitive",
              "description": "The country where the customer is located. Country should be sent as a [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) code.\n",
              "example": "Ind"
            },
            "description": "The ISO 3166-1 alpha-3 code of the country to filter validations"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bank account validations matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BankAccountValidation"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message indicating which parameter was invalid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries": {
      "post": {
        "tags": [
          "Beneficiary"
        ],
        "summary": "Create a Beneficiary",
        "description": "Creates a beneficiary with information such as name, contact, address, and banking information.\n",
        "operationId": "createBeneficiary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Beneficiary",
                "required": [
                  "beneficiary_type",
                  "account_number",
                  "holder_name",
                  "bic_primary",
                  "bic_secondary",
                  "bank_name",
                  "address_line1",
                  "email",
                  "city",
                  "state",
                  "country",
                  "pincode",
                  "nickname"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beneficiary created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Beneficiary"
        ],
        "summary": "List all Beneficiaries",
        "description": "Returns a list of your beneficiaries. The beneficiaries are returned sorted by creation date, with the most recent beneficiary appearing first.\n",
        "operationId": "getBeneficiaries",
        "parameters": [
          {
            "in": "query",
            "name": "beneficiary_type",
            "schema": {
              "type": "string",
              "enum": [
                "individual",
                "business"
              ]
            },
            "description": "Type of beneficiary to filter"
          },
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "format": "iso-3166-1-alpha-3, case-insensitive",
              "description": "The country where the customer is located. Country should be sent as a [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) code.\n",
              "example": "IND"
            },
            "description": "The ISO 3166-1 alpha-3 code of the country to filter validations"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of beneficiaries matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Beneficiary"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message indicating which parameter was invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/beneficiaries/{id}": {
      "get": {
        "tags": [
          "Beneficiary"
        ],
        "summary": "Retrieve a beneficiary",
        "description": "Retrieves details of a beneficiary.\n",
        "operationId": "getBeneficiaryById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the beneficiary"
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiary details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            }
          },
          "404": {
            "description": "Beneficiary not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/customer": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create a new customer",
        "description": "Creates a customer with basic information such as name, contact information, and address. To check complete list of API validations, click [here](/api-documentation/validations#validations-for-creating-customers).\n",
        "operationId": "createCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer",
                "required": [
                  "name",
                  "customer_type",
                  "email",
                  "address",
                  "city",
                  "state",
                  "country",
                  "pincode"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "List all customers",
        "description": "Returns a list of your customers. The customers are returned sorted by creation date, with the most recent customers appearing first.\n",
        "operationId": "getCustomers",
        "parameters": [
          {
            "in": "query",
            "name": "customer_type",
            "schema": {
              "type": "string",
              "enum": [
                "individual",
                "business"
              ]
            },
            "description": "Type of customer to filter"
          },
          {
            "in": "query",
            "name": "email_address",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Filter customers by email address"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message indicating which parameter was invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/customer/{id}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Retrieve a customer",
        "description": "Retrieves details of a Customer.\n",
        "operationId": "getCustomerById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "example": "cust_5JU9yv0lGSUP"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/document": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Create a new document",
        "operationId": "createDocument",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document_name": {
                    "type": "string",
                    "description": "The name of the document\n",
                    "example": "invoice"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be uploaded. This should be sent as a binary in the multipart/form-data request.\n"
                  }
                },
                "required": [
                  "file",
                  "document_name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "List all documents",
        "description": "Returns a list of your documents. The documents are returned sorted by creation date, with the most recent documents appearing first.\n",
        "operationId": "getDocuments",
        "parameters": [
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentResponse"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new order",
        "description": "Creates an order for checkout. To check complete list of API validations, click [here](/api-documentation/validations#validations-for-creating-orders).\n",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orders",
                "required": [
                  "amount",
                  "currency",
                  "customer_id",
                  "payment_methods"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Currency not supported"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List all orders",
        "description": "Returns a list of your orders. The orders are returned sorted by creation date, with the most recent order appearing first.\n",
        "operationId": "getOrders",
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "description": "Orders of customer to filter"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paid",
                "failed",
                "action_required",
                "cancelled",
                "under_review"
              ]
            },
            "description": "Status of order to filter"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderResponse"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Invalid customer_id"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Retrieve an order",
        "description": "Retrieve details of an order.\n",
        "operationId": "getOrderById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the order",
            "example": "order_678a4c88hpAjf"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/orders/{id}/update_rfi": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Update RFI documents for an order",
        "description": "Updates the RFI (Request for Information) document status for an order. This endpoint is used to submit required documents when an order is in 'action_required' status due to sanction screening.\n",
        "operationId": "updateOrderRfi",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the order to update RFI for",
            "example": "order_678a4c88hpAjf"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "description": "Array of documents to be submitted for RFI requirements",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the document being uploaded for this RFI requirement\n",
                          "example": "doc_67fc2f42468Bw"
                        },
                        "rfi_doc_id": {
                          "type": "string",
                          "description": "The unique identifier of the RFI document being submitted\n",
                          "example": "rfidoc_68c8dffedhMHD"
                        }
                      },
                      "required": [
                        "id",
                        "rfi_doc_id"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "documents"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RFI document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Invalid rfi_doc_id or order not in action_required status"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payin": {
      "post": {
        "tags": [
          "payment_link"
        ],
        "summary": "Create a new Payment Link",
        "description": "Creates a shareable URL for a hosted payment page. To check complete list of API validations, click [here](/api-documentation/validations#validations-for-creating-payment-links).\n",
        "operationId": "createPayin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLink",
                "required": [
                  "amount",
                  "currency",
                  "customer_id",
                  "purpose_code",
                  "expires_at",
                  "payment_methods"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "You can only send source_amount or target_amount, not both."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "payment_link"
        ],
        "summary": "List all payment links",
        "description": "Returns a list of your payment links. The payment links are returned sorted by creation date, with the most recent payment link appearing first.\n",
        "operationId": "getPayins",
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "description": "Payment links of customer to filter"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paid",
                "failed",
                "action_required",
                "cancelled",
                "partially_paid",
                "under_review",
                "expired"
              ]
            },
            "description": "Status of payment link to filter"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payment links matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentLinkResponse"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Invalid customer_id"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payin/{id}": {
      "get": {
        "tags": [
          "payment_link"
        ],
        "summary": "Retrieve a payment link",
        "description": "Retrieve details of a payment link.\n",
        "operationId": "getPayinById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the payin",
            "example": "payin_678a4c88hpAjf"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "payment_link"
        ],
        "summary": "Update an existing payment link",
        "operationId": "updatePayin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment link to update.",
            "schema": {
              "type": "string",
              "example": "e092be15-e614-4401-8cea-7ca3df7da987"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reminder_frequency": {
                    "type": "number",
                    "description": "The frequency at which you want to remind customers, valid values  are 1 (remind every day), 2 (remind every alternate day), 7  (remind every week), 14 (remind every alternate week).\n",
                    "example": 1
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "timestamp",
                    "description": "The new expiry date for the payin. Expiry cannot be less than or  equal to the current date and can be up to 6 months in the future.\n",
                    "example": "2025-02-15T00:00:00.000Z"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Payment link not found"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payin/{id}/cancel": {
      "patch": {
        "tags": [
          "payment_link"
        ],
        "summary": "Cancel a payment link",
        "description": "Invalidate payment link and prevent further transactions\n",
        "operationId": "cancelPayin",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the payment link to cancel",
            "example": "e092be15-e614-4401-8cea-7ca3df7da987"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link canceled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payin/{id}/update_rfi": {
      "patch": {
        "tags": [
          "payment_link"
        ],
        "summary": "Update RFI documents for a payment link",
        "description": "Updates the RFI (Request for Information) document status for a payment link. This endpoint is used to submit required documents when a payment link is in 'action_required' status due to sanction screening.\n",
        "operationId": "updatePayinRfi",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the payment link to update RFI for",
            "example": "payin_678a4c88hpAjf"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "description": "Array of documents to be submitted for RFI requirements",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the document being uploaded for this RFI requirement\n",
                          "example": "doc_67fc2f42468Bw"
                        },
                        "rfi_doc_id": {
                          "type": "string",
                          "description": "The unique identifier of the RFI document being submitted\n",
                          "example": "rfidoc_68c8dffedhMHD"
                        }
                      },
                      "required": [
                        "id",
                        "rfi_doc_id"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "documents"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RFI document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Invalid rfi_doc_id or payment link not in action_required status"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payin/{id}/mock_mark_reviewed": {
      "patch": {
        "tags": [
          "payment_link"
        ],
        "summary": "Mock review a payment link",
        "description": "Mark an under_review payment link reviewed\n",
        "operationId": "mockReviewPaymentLink",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the payment link to review",
            "example": "payin_E602dMzgjpDC"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link successfully marked reviewed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Payment link is not under review."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payouts": {
      "post": {
        "tags": [
          "Payout"
        ],
        "summary": "Create a new payout",
        "operationId": "createPayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreatePayoutRequest",
                    "required": [
                      "destination_currency",
                      "source_currency",
                      "beneficiary_id",
                      "purpose_code",
                      "documents"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Payout"
        ],
        "summary": "List all payouts",
        "operationId": "getPayouts",
        "parameters": [
          {
            "in": "query",
            "name": "beneficiary_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the beneficiary",
            "example": "bene_5JU9yv0lGSUP"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "in_progress",
                "success",
                "failed",
                "action_required",
                "cancelled",
                "under_review"
              ]
            },
            "description": "Status of payout to filter"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payouts matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payout"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payouts/{id}": {
      "get": {
        "tags": [
          "Payout"
        ],
        "summary": "Retrieve a payout\n",
        "operationId": "getPayoutById",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the payout.",
            "example": "pout_E602dMzgjpDC"
          }
        ],
        "responses": {
          "200": {
            "description": "Payout found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "404": {
            "description": "Payout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/{id}/cancel": {
      "patch": {
        "tags": [
          "Payout"
        ],
        "summary": "Cancel a payout",
        "operationId": "cancelPayout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payout to cancel.",
            "schema": {
              "type": "string",
              "example": "pout_DdWp_HUbOnlg"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Payout"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "The status of the payout.\n",
                          "example": "cancelled"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Payout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payouts/{id}/update_rfi": {
      "patch": {
        "tags": [
          "Payout"
        ],
        "summary": "Update RFI for Payout",
        "operationId": "updateRfiPayout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier for the payout.",
              "example": "payout_E602dMzgjpDC"
            }
          }
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AttachedDocument",
                      "required": [
                        "rfi_doc_id",
                        "id"
                      ]
                    }
                  }
                },
                "required": [
                  "documents"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/payouts/mock": {
      "patch": {
        "tags": [
          "Payout"
        ],
        "summary": "Mock update a payout status",
        "operationId": "mockUpdatePayoutStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MockUpdatePayoutStatusRequest",
                    "required": [
                      "id",
                      "status"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payment": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "List all payments",
        "operationId": "getPayments",
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the customer.",
            "example": "cust_E602sMzgjpDC"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failed",
                "action_required",
                "in_progress"
              ]
            },
            "example": "success",
            "description": "Status of payin to filter"
          },
          {
            "in": "query",
            "name": "payin_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the payin.",
            "example": "payin_E602dMzgjpDC"
          },
          {
            "in": "query",
            "name": "subscription_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the subscription.",
            "example": "sub_68877570b5zeE"
          },
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "type": "string",
              "format": "iso-4217, case-insensitive",
              "description": "The currency in which the payment is made. The currency code is in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format. For example, USD.\n"
            },
            "example": "USD"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payment/mock": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Create a mock payment",
        "description": "This API is only available in sandbox mode. Creates a mock payment of specified amount for any given Payment link.\n",
        "operationId": "createMockPayment",
        "security": [
          {
            "JWT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer",
                    "minimum": 100,
                    "description": "Amount in cents (minimum 100)",
                    "example": 10000
                  },
                  "currency": {
                    "type": "string",
                    "format": "iso-4217",
                    "description": "The currency code in ISO 4217 format",
                    "example": "AED"
                  },
                  "payment_method": {
                    "type": "string",
                    "description": "Required if no `payin_id` is passed.",
                    "enum": [
                      "BankTransfer"
                    ],
                    "example": "BankTransfer"
                  },
                  "payin_id": {
                    "type": "string",
                    "description": "The unique identifier for the payin. Required if no `payment_method` is passed.",
                    "example": "payin_E602dMzgjpDC"
                  },
                  "remitter_name": {
                    "type": "string",
                    "description": "Name of the remitter. Optional, defaults to `Non_Sanctioned_Entity`",
                    "enum": [
                      "Sanctioned_Entity",
                      "Non_Sanctioned_Entity"
                    ],
                    "example": "Non_Sanctioned_Entity"
                  }
                },
                "required": [
                  "amount",
                  "currency"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/payment/{id}": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Retrieve a payment\n",
        "operationId": "getPaymentById",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the payment.",
            "example": "payt_E602dMzgjpDC"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        }
      }
    },
    "/payment/{id}/update_rfi": {
      "patch": {
        "tags": [
          "Payment"
        ],
        "summary": "Update RFI for Payment",
        "operationId": "updateRfiPayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier for the payment.",
              "example": "payt_E602dMzgjpDC"
            }
          }
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AttachedDocument",
                      "required": [
                        "rfi_doc_id",
                        "id"
                      ]
                    }
                  }
                },
                "required": [
                  "documents"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/payment/{id}/mock-funds-available": {
      "patch": {
        "tags": [
          "Payment"
        ],
        "summary": "Mock funds available",
        "description": "This API is only available in sandbox mode. Updates the funds_available status of a payment to simulate  the availability of funds for testing purposes.\n",
        "operationId": "mockUpdatePaymentFundsAvailable",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier for the payment.",
              "example": "payt_E602dMzgjpDC"
            }
          }
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Payment funds available status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Payment"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Payment funds available status updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Payment validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The specific validation error message indicating why the mock funds available operation failed.\n\n**Possible Error Messages:**\n\n- **Payment Status Error:** `Payment must be in success status`\n- **Gateway Error:** `Payment must be from LRS gateway`\n- **Settlement Error:** `Payment must not have direct settlement enabled`\n- **Transaction Error:** `No transaction found for payment`\n- **Funds Already Available:** `Transaction already has funds available`\n",
                      "example": "Payment must be in success status"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - Payment with the specified ID not found"
          }
        }
      }
    },
    "/refunds": {
      "post": {
        "tags": [
          "Refund"
        ],
        "summary": "Create refund for a payment",
        "description": "Creates refund for a payment entity if the payment is in success state and no other refund exists.\n",
        "operationId": "createRefund",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "enum": [
                      "Requested By Customer",
                      "Duplicate",
                      "Fradulent",
                      "Others"
                    ],
                    "description": "The reason for the refund.\n"
                  },
                  "payment_id": {
                    "type": "string",
                    "description": "The unique identifier of payment linked to refund.\n",
                    "example": "payt_E602dMzgjpDC"
                  },
                  "document_id": {
                    "type": "string",
                    "description": "The id of document that is uploaded for refund.\n",
                    "example": "doc_E602dMd2adDC"
                  },
                  "document_url": {
                    "type": "string",
                    "description": "The url of document that is uploaded for refund.\n",
                    "example": "https://www.example.com/documents/invoice.pdf"
                  },
                  "file_name": {
                    "type": "string",
                    "description": "The name of document that is uploaded for refund.\n",
                    "example": "invoice"
                  }
                },
                "required": [
                  "payment_id",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Refund is already in progress."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Refund"
        ],
        "summary": "List all refunds",
        "description": "Returns a list of refunds in response. The refunds are returned sorted by creation date, with the most recent refund appearing first.\n",
        "operationId": "getRefunds",
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "description": "Refunds of customer to filter"
          },
          {
            "in": "query",
            "name": "payment_method",
            "schema": {
              "type": "string"
            },
            "description": "Refunds of payment_methods to filter"
          },
          {
            "in": "query",
            "name": "payment_id",
            "schema": {
              "type": "string"
            },
            "description": "Refunds of payment_id to filter"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failed",
                "action_required",
                "pending",
                "under_review"
              ]
            },
            "description": "Refund status to filter"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Refunds matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Refund"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/refunds/{id}": {
      "get": {
        "tags": [
          "Refund"
        ],
        "summary": "Retrieve a refund\n",
        "operationId": "getRefundById",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the payout.",
            "example": "pout_E602dMzgjpDC"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "404": {
            "description": "Refund not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        }
      }
    },
    "/refunds/{id}/update_rfi": {
      "patch": {
        "tags": [
          "Refund"
        ],
        "summary": "Update RFI for Refund",
        "operationId": "updateRfiRefund",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier for the refund.",
              "example": "refu_E602dMzgjpDC"
            }
          }
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AttachedDocument",
                      "required": [
                        "rfi_doc_id",
                        "id"
                      ]
                    }
                  }
                },
                "required": [
                  "documents"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/refunds/{id}/mock_update_status": {
      "patch": {
        "tags": [
          "Refund"
        ],
        "summary": "Mock update a refund",
        "description": "Mark an in_progress refund as successful\n",
        "operationId": "mockUpdateRefund",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the refund",
            "example": "refund_E602dMzgjpDC"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "The new status of the refund. You can only mark a refund as `success`",
                    "example": "success"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Refund cannot be marked success."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Refund not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/prices": {
      "post": {
        "tags": [
          "Price"
        ],
        "summary": "Create a new price",
        "operationId": "createPrice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Price"
                  },
                  {
                    "type": "object",
                    "oneOf": [
                      {
                        "properties": {
                          "pricing_type": {
                            "enum": [
                              "fixed"
                            ]
                          },
                          "fees_currency": {
                            "type": "string"
                          },
                          "fees_amount": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "pricing_type",
                          "fees_currency",
                          "fees_amount"
                        ]
                      },
                      {
                        "properties": {
                          "pricing_type": {
                            "enum": [
                              "percentage"
                            ]
                          },
                          "bps": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "pricing_type",
                          "bps"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Price"
        ],
        "summary": "List all prices",
        "operationId": "getPrices",
        "parameters": [
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of prices matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Price"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/prices/{id}": {
      "get": {
        "tags": [
          "Price"
        ],
        "summary": "Retrieve a price\n",
        "operationId": "getPriceById",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the payout.",
            "example": "price_E602dMzgjpDC"
          }
        ],
        "responses": {
          "200": {
            "description": "Price found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Price"
                    },
                    {
                      "example": {
                        "bps": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Price not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        }
      }
    },
    "/withdrawals": {
      "post": {
        "tags": [
          "Withdrawal"
        ],
        "summary": "Create a new withdrawal",
        "operationId": "createWithdrawal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWithdrawalRequest",
                "required": [
                  "amount",
                  "balance_currency"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Withdrawal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Withdrawal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Withdrawal"
        ],
        "summary": "List all withdrawals",
        "operationId": "getWithdrawals",
        "parameters": [
          {
            "in": "query",
            "name": "withdrawal_account_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the beneficiary",
            "example": "accwith_162843c10333"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "in_progress",
                "success",
                "failed",
                "action_required",
                "cancelled",
                "under_review"
              ]
            },
            "description": "Status of withdrawal to filter"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
[...]
